@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Hand+Pre:wght@400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
     gap: 9px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: rgb(238, 230, 230);

}
header{
   display: flex;
   flex-wrap: wrap;
   width: 900px;
   align-items: center;
   flex-direction: column;  
    grid-column: 1/3;
    /* border: 2px solid red; */
    font-family: "Edu NSW ACT Hand Pre", cursive;

}
.cont-2{
    
    color: white;
    display: flex;
    align-items: center;
    gap: 33px;
    width: 95%;
    padding: 12px 3px;
    border-radius: 12px;
    justify-content: space-between;
    background-color: rgb(238, 87, 87);

}
.logo img{
    padding: 7px;
    border-radius:50%;
    background-color: rgb(240, 229, 229);
    box-shadow: 0 0 40px #ada5a5;
    border: 2px solid rgb(224, 183, 179);

}
.logo {
    display: flex;
    align-items: center;
    gap: 11px;


}

.cont-2  #addBook{
    color: white;
    cursor: pointer;
    letter-spacing: 3px;
    font-weight:900;
    padding: 10px;
    margin-right: 5px;
    border-radius:5px;
    height: 6vh;


}
.account{
    color: rgb(230, 17, 17);
    top: 0;
    display: flex;
    align-items: center;
    gap: 33px;    
    font-family: "Edu NSW ACT Hand Pre", cursive;

    padding: 10px 44px;
    justify-content: end;
    width: 90%;
}
.account img{
    padding: 2px;
    border-radius:50%;
    background-color: rgb(240, 229, 229);
    box-shadow: 0 0 40px #ebe5e5;
    border: 2px solid rgb(238, 228, 227);
}

.genre{
    grid-row: 2/3;
    background-color: rgb(238, 238, 238);
}

.books{
    grid-column: 1/3;
    /* border: 5px solid rgb(202, 189, 10); */
    width: 850px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.table-wrapper {
    width: 100%;
    overflow-x: auto;
  }
  
#bookTable{
    height: auto;
    border-radius: 24px;
    padding:18px ;
    background: #f4f6fd;
    box-shadow: 0 0 44px #d4d5d6 ;
    border: 2px solid #e3e4e6 ;

}
/* tr{
    height: 55%
    
} */

thead tr th{

    padding: 22px;
    font-size: 1.4rem;
    border: 2px solid rgb(219, 202, 202);
    border-top: none;
    border-left: none;
    border-right: none;
}
th, td {
    border: 1px solid #f4f6fd;
    font-size: 1.1rem;
    text-align: left;
    padding: 20px;
    transition: 5s ease-in-out linear;

}
tbody tr td{
    text-align: start;

}
td:hover{
    color: #a2afe0;
    transform: scale(1.03);
}

th {
    text-align: left;
    
    background-color: #f2f2f2;
}
#read{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px; 
    cursor: pointer; z-index:99999;

}
#delete{
    width: 20px; 
    cursor: pointer; z-index:99999;
    
}
button {
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}


.back{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    opacity: 0.5;

}



 dialog{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 540px;
    padding: 5px 37px;
    border: 2px solid rgb(163, 140, 140);
    border-radius: 12px;
    transform: translate(-50%,-50%);
    background-color: #ffffff;
    box-shadow: 0 0 40px rgb(206, 200, 200);
 }
 
.div-dialog{
    position: relative;
    display: flex;
    padding: 20px;
    /* gap: 1px; */
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 498px;
}
.div-dialog h2{
    font-size: 1.2rem;
    text-align: center;

}
#closeDialog{
    text-align: end;
    width: 280px;
    font-weight: 800;
    font-size: 23px;
    padding: -11px 18px;
    cursor: pointer; 

}

dialog label{
    color: #a2afe0;
    margin-top: 22px;
}
dialog input{
    font-size: 1rem;
     padding: 2px 12px;
    height: 4vh;
    border-top: none;
    border-right: none;
    border-left: none;
    outline-style: none;
    border-color: #ca310b;

}
dialog select{
    height: 4vh;
    font-size: 1rem;
    padding: 2px 12px;
    outline-style: none;

    border-color: #a2afe0;
    background-color: #ffffff;
}
#addbtn{
    font-size: 1.1rem;
    font-weight: 800;
    letter-spacing: 2px;
    width: 150px;
    height: 8vh;
    margin: 21px 63px;
    border-radius: 12px;
    background-color: #e65d3b;
}
#addbtn:hover{
    letter-spacing: 4px;
    background-color: #99432e;

}


@media only screen and (max-width: 400px) 
{ 
    header{
        width: 90%;

    }
    .account{
        font-size: 0.71rem;
    }
    .cont-2{
        font-size: 0.71rem;
        padding: 12px 3px;
    }
    .logo img{
        
        width: 45px;
    }
    .books{width: 330px;}
    #bookTable{ width: 320px; 
    padding:7px ;
    border-radius: 12px;
    font-size: 0.77rem; 
    /* background-color: lightblue;  */
} 
    thead tr th{ 
        font-size: 0.7rem;
        padding: 3px; } 
    tbody tr td{ 
        font-size: 0.7rem;
        padding: 7px 1px; } 
    #read{
        width: 12px; 
        cursor: pointer; z-index:99999;
    
    }
    #delete{
        /* display: inline-flex; */
        background-color: none;
        font-size: 7px; 
        cursor: pointer; z-index:99999;
        
    }
    dialog{
        width: 330px;
    }
    #closeDialog{
        width: 220px;
    }
    #addbtn{
        margin: 21px 35px;
    }
}
@media only screen and (min-width: 401px )and (max-width :898px) { 
    header{
        width: 91%;

    }
    .account{
        font-size: 0.71rem;
    }
    .cont-2{
        padding: 12px 3px;
    }
    .logo img{
        
        width: 45px;
    }
    .books{
        width: 90%;
        margin: 2px 2px;

    }
    #bookTable{ 
        width: 98%;  
         } 
    thead tr th{
        font-size: 1rem;
         padding: 1px; } 
    tbody tr td{ 
        font-size: 0.9rem;

        padding: 10px 1px; }
    #read{
        width: 12px; 
        cursor: pointer; z-index:99999;
    
    }
    #delete{
        background-color: none;
        font-size: 7px; 
        cursor: pointer; z-index:99999;
        
    }
    dialog{
        width: 330px;
    }
    #closeDialog{
        width: 220px;
    }
    #addbtn{
        margin: 21px 35px;
    }


} 
